<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{task.subject}}">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <p><strong>Subject</strong></p>
        <p>{{task.subject}}</p>

        <p><strong>Description</strong></p>
        <p>{{task.description}}</p>

        <p><strong>Location</strong></p>
        <p>{{task.location}}</p>

        <p><strong>Time</strong></p>
        <p>{{task.time | date:'medium'}}</p>

        <div class="item">
          <a class="button button-block button-energized" href="#/edit-task/{{task.$id}}">Edit</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
