<ion-view view-title="{{titleBar}}">
  <ion-content class="has-header has-footer" padding="true"
    has-footer="true"
  	scroll="true"
    on-refresh="onRefresh()"
    on-refresh-opening="onRefreshOpening(amount)"
    refresh-complete="refreshComplete"
    animate-nav="true"
    >

    <!-- for pull to refresh -->
    <refresher></refresher>
  
    <div ng-repeat="message in messages track by $index" type="item-text-wrap">    
      <div class="card item-message">
        <div class="item-message-header">
          <div class="row">
            <small class="col">{{message.user_name}}</small>
            <small class="col text-right">{{message.created_at | date: 'short' }}</small>
          </div>
        </div>
        <div class="item-message-body item-text-wrap">
          {{message.content}}
        </div>
      </div>
    </div>
  </ion-content>

	<div class="bar bar-footer bar-positive" id="bar-footer-message-box">
    <form ng-submit="submitAddMessage()">
    	<div class="list">
        <label class="item item-input">
          <input type="text" placeholder="your message ..." ng-model="newMessage">
          <button class="button button-positive" id="send-message-button">Send</button>
        </label>
      </div>
    </form>
  </div>
</ion-view>
