body {
}
.bg-black {
    background-color: #21152c;
}
.bg-black.dk, .bg-black .dk {
    background-color: #271934;
}

.bg-black .nav>li>a {
    color: #c2b4cf;
}

.bg-black .nav>li:hover>a, .bg-black .nav>li:focus>a, .bg-black .nav>li.active>a {
    color: #fff;
    background-color: #17101e;
}